@import includes/vars
@import includes/text

html
	zoom: 100%

body
	margin: 0 0 0 0

main
	display: block
	width: 100%
	max-width: $page_width
	margin: 0 0 0 0
	position: relative
	left: 50%
	transform: translateX(-50%)
	@media screen and (max-width: $page_width + 80)
		left: unset
		transform: unset
		margin: 0 0 0 0
		max-width: $page_width - 100
		padding: 0 50 0 50
		min-width: unset
		width: unset

.banner_container
	margin: 50 0 50 0
	img
		width: $icon_size
	.banner_user_container
		float: right
		height: $icon_size
		.banner_separator
			display: inline-block
			position: relative
			top: 50%
			transform: translateY(-50%)
			margin: 0 20 0 20
		.banner_separator:before
			content: '/'
		.banner_user_button
			display: inline-block
			position: relative
			top: 50%
			transform: translateY(-50%)
		.banner_user_name
			display: inline-block
			position: relative
			top: 50%
			transform: translateY(-50%)
			margin: 0 20 0 0
		.banner_user_avatar
			vertical-align: top
			display: inline-block
			img
				height: $icon_size
				border-radius: 10px
				display: block


.error
	margin: 40 0 0 0
