@import includes/vars
@import includes/text

html
	zoom: 100%

body
	margin: 0 0 0 0

main
	display: block
	width: 100%
	max-width: $pageWidth
	margin: 0 0 0 0
	position: relative
	left: 50%
	transform: translateX(-50%)
	@media screen and (max-width: $pageWidth + 80)
		left: unset
		transform: unset
		margin: 0 0 0 0
		max-width: $pageWidth - 100
		padding: 0 50 0 50
		min-width: unset
		width: unset