.banner_container
	a(href='/')
		img(src='/media/logo.svg')
	.banner_user_container
		if user
			.banner_user_button
				a(href='/user/logout') Logout
			.banner_separator
			.banner_user_avatar
				a(href='/user')
					img(src='/user/avatar/' + user.avatar)
		else
			.banner_user_button
				a(href='/user/login') Login
			.banner_separator
			.banner_user_button
				a(href='/user/register') Register
