head
	// Meta Data
	meta(charset = 'utf-8')
	meta(name = 'viewport', content = 'width=device-width, initial-scale=1, user-scalable=no')
	meta(name = 'keywords', content = 'exchange, swap, item')
	meta(name = 'author', content = 'Dominic Egginton')
	meta(name = 'robots', content = 'index, follow')
	meta(name = 'revisit-after', content = '1 days')
	// Common CSS & FavIcon
	link(rel = 'icon', type="image/png", href = '/media/favicon.png')
	link(rel = 'stylesheet', href = '/stylesheet/main')
