doctype html5
html(lang='en')
	head
	body
		h1 New Offer
		p=`${offer.offered_user.name} [${offer.offered_user.email}] would like to exchange there ${offer.offered_item.name} for your ${offer.item.name}`
		