doctype html5
html(lang='en')
	head
	body
		h1 New Suggested Exchange
		p=`We think you might be interested in exchanging your ${suggestion.item.name} with ${suggestion.suggested_user.name} [${suggestion.suggested_user.email}] for their ${suggestion.suggested_item.name}`
		