doctype html5
html(lang='en')
	include includes/head.pug
	head
		title Exchange
		link(rel ='stylesheet', href = '/stylesheet/item')
		link(rel = 'stylesheet', href = '/stylesheet/controls')
	body
		main
			include includes/banner.pug
			h1 Exchange
			form.search#search(onsubmit = 'search()')
				.group
					input.searchbox(type='text' name='search')
					label(for="search") Search
			#items
	script(src = '/scripts/home.js')
