doctype html5
html(lang='en')
	include includes/head.pug
	head
		link(rel = 'stylesheet', href = '/stylesheet/item')
		link(rel = 'stylesheet', href = '/stylesheet/controls')
		title='Exchange - ' + item.name
	body
		main
			include includes/banner.pug
			.item_container
				img(src='/item/image/' + item.image)
				h1=item.name
				p.item_description=item.description
				if user.id === item.userid
					.inline_header_button
						h3 My Wish List
						.separator
						a(href = '/wishlist/new/' + item.id) New
				else
					h3 Wish List
				#wishlist_container
	script(src = '/scripts/item.js')
