doctype html5
html(lang='en')
	include includes/head.pug
	head
		link(rel = 'stylesheet', href = '/stylesheet/user')
		link(rel ='stylesheet', href = '/stylesheet/item')
		link(rel ='stylesheet', href = '/stylesheet/offer')
		link(rel = 'stylesheet', href = '/stylesheet/controls')
		title='Exchange - ' + user.name
	body
		main
			include includes/banner.pug
			h1=user.name
			h2=user.email
			.my_items
				.inline_header_button
					h3 My Items
					.separator
					a(href="/item/new") New
				#my_items
			#my_offers
	script(src="/scripts/user.js")
