// Page Width
$pageWidth: 900px

// Icon Size
$iconSize: 80px
$iconSizeSmall: 60px

// Color Scheme
$white: #F7F7F7
$black: #222222
$grey: #616161
$green: #33d9b2
$red: #C11D2A
$light_grey_background: #1e1e1e
$dark_grey_background: #141414

// Font Fmaily
$font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif
